<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  <link href="http://cateee.net/template/lkddb.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="http://cateee.net/cateee.png" />
  <title>Linux Kernel Driver DataBase: $title</title>
</head>

<body xml:lang="en" lang="en">
<div class="hnav">
<p>
 Navigation:
 <a href="http://cateee.net/lkddb/">Linux Kernel Driver DataBase</a> -
 web LKDDB:
 <a href="http://cateee.net/lkddb/web-lkddb/">Main index</a> -
 <a href="http://cateee.net/lkddb/web-lkddb/index_$subindex.html">$subindex index</a>
&nbsp;&nbsp;&nbsp;&nbsp; <g:plusone size="medium"></g:plusone>
</p>

<form action="http://www.google.com/cse" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-8942588522142995:7605362668" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="55" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>

<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
</div>

<h1>$title</h1>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-8942588522142995";
/* lkddb-top */
google_ad_slot = "5292924993";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<h2>General informations</h2>

$general

<h2>Hardware</h2>

$hardware

$lkddb

<h2>Sources</h2>

<ul>
  <li><a href="http://www.kernel.org">Linux kernel</a></li>
  <li><a href="http://cateee.net/lkddb/">Linux Kernel Driver DataBase</a> (LKDDb)$sources</li>
</ul>

<h2>Notes</h2>

<p><b>Pages under construction</b>, so use with care!</p>
<p>These pages are automatic generated. Sources can be found in ...</p>

<h2>Automatic links from google (and ads)</h2>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8942588522142995";
/* lkddb-links */
google_ad_slot = "4558010422";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<p></p>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8942588522142995";
/* lkddb-bottom */
google_ad_slot = "9407275904";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<div class="hnav">
<p>
  Navigation:
  <a href="http://cateee.net/lkddb/">Linux Kernel Driver DataBase</a> -
  web LKDDB:
  <a href="http://cateee.net/lkddb/web-lkddb/">main index</a> -
  <a href="http://cateee.net/lkddb/web-lkddb/index_$subindex.html">$subindex index</a>
</p>

<form action="http://www.google.com/cse" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-8942588522142995:7605362668" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="55" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>

<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

<p>Popular searchs:</p>
<script type="text/javascript" src="http://www.google.com/cse/query_renderer.js"></script>
<div id="queries"></div>
<script src="http://www.google.com/cse/api/partner-pub-8942588522142995/cse/7605362668/queries/js?oe=UTF-8&amp;callback=(new+PopularQueryRenderer(document.getElementById(%22queries%22))).render"></script>
</div>

<div class="foot">
<p>Automatically generated (in year $year) with <code>gen-web-lkddb.py</code> in <a href="/sources/lkddb-sources/">lkddb-sources</a></p>
</div>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</body>
</html>

